<%- include('../common/header', { pageTitle: pageTitle, activeUrl: activeUrl }) %>

			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="theme-inner-banner">
				<div class="container">
					<h2 class="intro-title text-center">Cookie Policy</h2>
					<ul class="page-breadcrumb style-none d-flex justify-content-center">
						
					</ul>
				</div>
			</div> <!-- /.theme-inner-banner -->
			


			<!--
			=====================================================
				Blog Details
			=====================================================
			-->
			<div class="blog-details pt-90 mb-150 lg-pt-40 lg-mb-100">
				<div class="container">
					<div class="row">
						<div class="col-xxl-11 m-auto">
							<div class="row">
								<div class="col-lg-12">
									<article class="blog-meta-three tran3s mt-45">
										<!-- <figure class="post-img m0"><img src="images/blog/blog_img_20.jpg" alt="" class="w-100 tran4s"></figure> -->
										<div class="post-data">
											<!-- <div class="post-tag"><a href="#">UI/UX Design</a> - 10 minute read</div> -->
											<div class="blog-title"><h5>Cookie Policy</h5></div>
											<p>This Cookie Policy explains how Kyrotics Technologies Private Limited ("we," "us," or "our") uses cookies and similar technologies on our website www.kyrotics.com ("the Website"). By using the Website, you consent to the use of cookies in accordance with this Cookie Policy.</p>
											
											<h5>What are Cookies</h5>
											<p>Cookies are small pieces of data stored on your device (computer or mobile device) when you visit a website. They are widely used to make websites work more efficiently and to provide a better browsing experience for users. Cookies may be set by the website you are visiting (first-party cookies) or by third-party services embedded on the website (third-party cookies)
											</p>
											
											<h5>How We Use Cookies</h5>
											<p>We use cookies for the following purposes:
											To ensure the proper functioning of the Website and its features.<br>
											To analyze and improve the performance and usability of the Website.<br>
											To personalize your experience by remembering your preferences and settings.<br>
											To provide targeted advertising and marketing communications based on your browsing behavior.													
											</p>
											
											<h5>Types of Cookies We Use</h5>
											<p>Essential Cookies: These cookies are necessary for the Website to function properly. They enable basic functions like page navigation and access to secure areas of the Website.<br>
											<p>Analytics Cookies: These cookies allow us to analyze how users interact with the Website, including which pages are visited most often and how users move around the site. This information helps us improve the performance and usability of the Website.<br>
											</p>
											<p>	Advertising Cookies: These cookies are used to deliver targeted advertising to users based on their interests and browsing behavior. They may also be used to measure the effectiveness of advertising campaigns.
											</p>
											
											<h5>Your Cookie Choices</h5>
											<p>You can control and manage cookies in your browser settings. Most web browsers allow you to delete or block cookies, as well as to configure your cookie settings to accept or reject certain types of cookies. Please note that if you choose to block or delete cookies, some parts of the Website may not function properly.</p>
											
											<h5>Changes to This Cookie Policy</h5>
											<p>We reserve the right to update or change this Cookie Policy at any time. Any changes will be effective immediately upon posting the updated policy on the Website. Your continued use of the Website after the posting of any changes to this policy constitutes acceptance of those changes.</p>
											
											<h5>Contact Us</h5>
											<p>If you have any questions or concerns about this Cookie Policy, please contact us at <b>support@kyrotics.com</b></p>

										</div> <!-- /.post-data -->
									</article>

								</div>
							</div>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.blog-details -->

			<%- include('../common/footer', { pageTitle: pageTitle }) %>