<%- include('common/header', { pageTitle: pageTitle, activeUrl: activeUrl }) %>
			<!-- 
			=============================================
				Error Page
			============================================== 
			-->
			<div class="error-page-content d-flex align-items-center justify-content-center">
				<div class="container">
					<div class="row">
						<div class="col-xxl-6 col-lg-7 m-auto">
							<h2>Opps! you’r on the wrong place.</h2>
							<p class="me-xxl-5 ms-xxl-5">Can not find what you need? Take a moment and do a search below or start from our Homepage.</p>
							<a href="/" class="btn-eight">Back to home</a>
						</div>
					</div>
					<img src="images/assets/ils_21.svg" alt="" class="m-auto">
				</div>
			</div> <!-- /.error-page-content -->

			
			

			


			<button class="scroll-top">
				<i class="bi bi-arrow-up-short"></i>
			</button>
			
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- AOS js -->
		<script src="vendor/aos-next/dist/aos.js"></script>
		<!-- Slick Slider -->
		<script src="vendor/slick/slick.min.js"></script>
		<!-- js Counter -->
		<script src="vendor/jquery.counterup.min.js"></script>
		<script src="vendor/jquery.waypoints.min.js"></script>
		<!-- Fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- isotop -->
		<script  src="vendor/isotope.pkgd.min.js"></script>

		<!-- Theme js -->
		<script src="js/theme.js"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>