<%- include('common/header', { pageTitle: pageTitle, activeUrl: activeUrl }) %>
<!-- 
=============================================
	Theme Hero Banner
============================================== 
-->
<div class="hero-banner-four">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-xl-7 col-lg-8 col-md-11 m-auto">
				<!-- <a href="pricing.html" class="slogan"><strong>Offer</strong> is going on till friday, $1.99/mo. <i class="fas fa-chevron-right"></i></a> -->
				<h1 class="hero-heading">Kyrotics Technologies</h1>
				<p class="mb-50 lg-mb-30">Welcome to Kyrotics Technologies, we are at the forefront of driving
					innovation through cutting-edge Data Science, Machine Learning, and Artificial Intelligence
					solutions. We specialize in leveraging advanced technologies to solve complex business problems and
					empower organizations to thrive in today's data-driven world </p>
				<p class="mb-50 lg-mb-30">With a team of seasoned experts and industry-leading professionals, Kyrotics
					Technologies is committed to delivering tailored solutions that address the unique challenges faced
					by our clients. Whether it's optimizing operations, enhancing customer experiences, or unlocking new
					revenue streams, we harness the power of data and AI to drive tangible results and foster business
					growth</p>
				<!-- <div class="info">No Credit Card Required.</div> -->
			</div>
		</div>
	</div> <!-- /.container -->
	<div class="illustration-holder-one">
		<img src="images/assets/ils_10.svg" alt="">
		<img src="images/assets/ils_10_1.svg" alt="" class="shapes shape-one">
		<img src="images/assets/ils_10_2.svg" alt="" class="shapes shape-two">
	</div> <!-- /.illustration-holder-one -->
	<div class="illustration-holder-two">
		<img src="images/assets/ils_11.svg" alt="">
		<img src="images/assets/ils_10_1.svg" alt="" class="shapes shape-one">
	</div> <!-- /.illustration-holder-two -->
</div> <!-- /.hero-banner-four -->




<!-- 
			=============================================
				Feature Section Two
			============================================== 
			-->
<div class="fancy-feature-two position-relative mt-140 lg-mt-100">
	<div class="container">
		<div class="row">
			<div class="col-xxl-5 col-lg-6 col-md-7 ms-auto">
				<div class="block-style-two" data-aos="fade-left">
					<div class="title-style-one">
						<div class="sc-title-four">WHO WE ARE</div>
						<h2 class="main-title">Leading the charge in AI and ML innovation for transformative solutions
						</h2>
					</div> <!-- /.title-style-one -->
					<p class="pt-10 pb-20 lg-pb-10">AI technology is perfect for best business solutions & we offer help
						to achieve your goals.</p>
				</div> <!-- /.block-style-two -->
			</div>
		</div>
	</div> <!-- /.container -->
	<div class="illustration-holder-two sm-mt-40">
		<img src="images/assets/ils_05.svg" alt="" class="main-illustration w-100">
		<img src="images/assets/ils_05_1.svg" alt="" class="shapes shape-one">
		<img src="images/assets/ils_05_2.svg" alt="" class="shapes shape-two" data-aos="fade-up"
			data-aos-anchor=".fancy-feature-two" data-aos-delay="100" data-aos-duration="2000">
		<img src="images/assets/ils_05_3.svg" alt="" class="shapes shape-three" data-aos="fade-up"
			data-aos-anchor=".fancy-feature-two" data-aos-delay="150" data-aos-duration="2000">
		<img src="images/assets/ils_05_4.svg" alt="" class="shapes shape-four">
		<img src="images/assets/ils_05_5.svg" alt="" class="shapes shape-five">
	</div> <!-- /.illustration-holder-two -->
</div> <!-- /.fancy-feature-two -->



<!-- 
			=============================================
				Feature Section Twenty Two
			============================================== 
			-->
<div class="fancy-feature-twentyTwo mt-150 lg-mt-60 md-mt-10">
	<div class="container">
		<div class="row gx-xxl-5">
			<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up">
				<div class="block-style-fourteen mt-35">
					<h5>Our Approach</h5>
					<p>At Kyrotics Technologies, we understand that every business is unique, which is why we take a
						consultative approach to problem-solving. We work closely with our clients to gain a deep
						understanding of their objectives, challenges, and opportunities. Through collaborative
						brainstorming sessions and strategic planning, we design bespoke solutions that align with our
						clients' goals and objectives</p>
				</div> <!-- /.block-style-fourteen -->
			</div>
			<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="100">
				<div class="block-style-fourteen mt-35">
					<h5>Our Mission</h5>
					<p>At Kyrotics, our mission is to empower businesses and industries through cutting-edge Artificial
						Intelligence, Machine Learning, and Data Science solutions. We are dedicated to democratizing
						access to advanced technologies, transforming data into actionable insights, and driving
						innovation that shapes a smarter and more connected future.</p>
				</div> <!-- /.block-style-fourteen -->
			</div>
			<div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
				<div class="block-style-fourteen mt-35">
					<h5>Our Vission</h5>
					<p>Our vision is to be a global leader in AI, ML, and Data Science, pioneering breakthroughs that
						redefine industries and elevate human experiences. We envision a world where data-driven
						intelligence accelerates progress, fuels sustainable growth, and fosters a profound impact on
						society. At [Your Company Name], we strive to shape this vision through innovation,
						collaboration, and a commitment to excellence</p>
				</div> <!-- /.block-style-fourteen -->
			</div>
		</div>
	</div>
</div> <!-- /.fancy-feature-twentyTwo -->




<!--
			=====================================================
				Counter Section One
			=====================================================
			-->
<div class="counter-section-one">
	<div class="inner-container bg-color style-two rounded-0 w-100">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4 col-sm-6" data-aos="fade-up">
					<div class="counter-block-one text-center mb-20">
						<!-- <div class="main-count"><span class="counter">20</span>mil</div> -->
						<!-- <p>Human labor hours saved <br> with help of AI</p> -->
					</div> <!-- /.counter-block-one -->
				</div>
				<div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="100">
					<div class="counter-block-one text-center mb-20">
						<!-- <div class="main-count"><span class="counter">1.3</span>b+</div> -->
						<!-- <p>Generated revenue by <br>AI Solutions</p> -->
					</div> <!-- /.counter-block-one -->
				</div>
				<div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="200">
					<div class="counter-block-one text-center mb-20">
						<!-- <div class="main-count">$<span class="counter">15</span>mil+</div> -->
						<!-- <p>Saved operational costs <br>due to AI</p> -->
					</div> <!-- /.counter-block-one -->
				</div>
			</div>
		</div>
		<img src="images/shape/shape_40.svg" alt="" class="shapes shape-three">
		<img src="images/shape/shape_41.svg" alt="" class="shapes shape-four">
	</div> <!-- /.inner-container -->
</div> <!-- /.counter-section-one -->



<!-- 
			=============================================
				Feature Section Five
			============================================== 
			-->
<div class="fancy-feature-five position-relative mt-50">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xxl-4 col-lg-5 col-md-6">
				<div class="block-style-nine">
					<div class="title-style-three pb-10" data-aos="fade-up">
						<div class="sc-title">WHY CHOOSE US</div>
						<h2 class="main-title">Why <span>choose us</span> for your business.</h2>
					</div> <!-- /.title-style-three -->
					<ul class="style-none list-item">
						<li data-aos="fade-up"><b>Proven Track Record:</b> With a track record of successful projects
							and satisfied clients, Kyrotics Technologies has
							established itself as a trusted partner in the industry.</li>
						<li data-aos="fade-up" data-aos-delay="100"><b>Innovation and Excellence:</b> We are committed
							to staying ahead of the curve by continuously exploring new
							technologies, methodologies, and best practices</li>
						<li data-aos="fade-up" data-aos-delay="200"><b>Customer-Centric Approach:</b> Our focus is
							always on delivering value to our clients and
							exceeding their expectations. We prioritize our customer satisfaction </li>
					</ul>
				</div> <!-- /.block-style-nine -->
			</div>

			<div class="col-xxl-8 col-lg-7 col-md-6 text-end">
				<div class="illustration-holder d-inline-block position-relative xs-mt-20">
					<img src="images/assets/ils_06.svg" alt="" class="main-illustration w-100">
					<img src="images/assets/ils_06_1.svg" alt="" class="shapes shape-one">
					<img src="images/assets/ils_06_2.svg" alt="" class="shapes shape-two">
					<img src="images/assets/ils_06_3.svg" alt="" class="shapes shape-three" data-aos="fade-down"
						data-aos-duration="1800">
					<img src="images/assets/ils_06_4.svg" alt="" class="shapes shape-four" data-aos="fade-left"
						data-aos-duration="1800">
					<img src="images/assets/ils_06_5.svg" alt="" class="shapes shape-five">
				</div><!--  /.illustration-holder -->
			</div>
		</div>
	</div> <!-- /.container -->
</div> <!-- /.fancy-feature-five -->

<!-- 
			=============================================
				Feature Section Four
			============================================== 
			-->
<div class="team-section-one position-relative mt-110 lg-mt-50">
	<div class="bg-wrapper mb-200">

		<div class="inner-container">
			<div class="container">
				<div class="row gx-xxl-5">
					<div class="col-lg-12 mt-40 d-flex" data-aos="fade-up">
						<div class="d-flex justify-content-center flex-column">
							<div class="title-style-one">
								<div class="sc-title-three">Services</div>
								<h2 class="main-title">Our experties field.</h2>
							</div> <!-- /.title-style-one -->

						</div>
					</div>

					<div class="col-lg-4 col-sm-6 mt-40 d-flex" data-aos="fade-up" data-aos-delay="100">
						<div class="block-style-four">
							<div class="icon d-flex align-items-end justify-content-center"><img
									src="images/icon/icon_10.svg" alt=""></div>
							<a href="service-V1.html">
								<h5>Data Science</h5>
							</a>
							<p>From data collection and preprocessing to predictive analytics and modeling, our data
								scientists excel at extracting actionable
								insights from complex datasets</p>
							<a href="service-V1.html" class="more-btn"><img src="images/icon/icon_13.svg" alt=""
									class="tran3s"></a>
						</div> <!-- /.block-style-four -->
					</div>
					<div class="col-lg-4 col-sm-6 mt-40 d-flex" data-aos="fade-up" data-aos-delay="200">
						<div class="block-style-four">
							<div class="icon d-flex align-items-end justify-content-center"><img
									src="images/icon/icon_11.svg" alt=""></div>
							<a href="service-V1.html">
								<h5>Machine Learning</h5>
							</a>
							<p>Our machine learning engineers specialize in developing and deploying intelligent
								algorithms that learn from data, enabling
								automated decision-making and process optimization</p>
							<a href="service-V1.html" class="more-btn"><img src="images/icon/icon_13.svg" alt=""
									class="tran3s"></a>
						</div> <!-- /.block-style-four -->
					</div>
					<div class="col-lg-4 mt-40 d-flex" data-aos="fade-up" data-aos-delay="300">
						<div class="block-style-four">
							<div class="icon d-flex align-items-end justify-content-center"><img
									src="images/icon/icon_12.svg" alt=""></div>
							<a href="service-V1.html">
								<h5>Artificial Intelligence</h5>
							</a>
							<p>Leveraging the latest advancements in AI, including computer vision, natural language
								processing, and deep learning, we build
								AI-powered solutions that drive innovation and competitive advantage</p>
							<a href="service-V1.html" class="more-btn"><img src="images/icon/icon_13.svg" alt=""
									class="tran3s"></a>
						</div> <!-- /.block-style-four -->
					</div>
				</div>
			</div>
		</div> <!-- /.inner-container -->
	</div> <!-- /.bg-wrapper -->

</div> <!-- /.fancy-feature-four -->

<!--
			=====================================================
				Team Section One
			=====================================================
			-->
<div class="team-section-one mt-110 pt-110 pb-170 lg-mt-80 lg-pt-80 lg-pb-80">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="title-style-one text-center text-sm-start xs-pb-20" data-aos="fade-right">
					<div class="sc-title-four">OUR TEAM</div>
					<h2 class="main-title">Our Members</h2>
				</div> <!-- /.title-style-one -->
			</div>
			<div class="col-sm-6 ms-auto d-flex justify-content-center justify-content-sm-end" data-aos="fade-left">
				<!-- <a href="team.html" class="btn-one xs ripple-btn">See all members <i class="fas fa-chevron-right"></i></a> -->
			</div>
		</div>

		<div class="row pt-20">
			<div class="col-xl-4 col-sm-6" data-aos="fade-up">
				<div class="team-block-one tran3s mt-35">
					<div class="img-meta"><img src="images/team/img_01.jpg" alt="" class="w-100"></div>
					<a href="team-details.html" class="team-info">
						<span class="designation-text"></span><b>CEO</b></span>
						<span class="name tran3s">Fariduddin Masud</span>
						<span class="">Ex- IIT Bombay<br>Stanford Seed Spark<br> </span>
					</a>
				</div> <!-- /.team-block-one -->
			</div>
			<div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-delay="100">
				<div class="team-block-one tran3s mt-35">
					<div class="img-meta"><img src="images/team/img_02.jpg" alt="" class="w-100"></div>
					<a href="team-details.html" class="team-info">
						<span class="designation-text"><b>COO</b></span>
						<span class="name tran3s">Chandan Gupta</span>
						<span class="">Ex-Infosys<br>Ex-Deloitte<br>Ex-Carelon</span>
					</a>
				</div> <!-- /.team-block-one -->
			</div>
			<div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-delay="200">
				<div class="team-block-one tran3s mt-35">
					<div class="img-meta"><img src="images/team/img_03.jpg" alt="" class="w-100"></div>
					<a href="team-details.html" class="team-info">
						<span class="designation-text"><b>CTO</b></span>
						<span class="name tran3s">Nazarul Hassan</span>
						<span class="">Ex-<br>Stanford Seed Spark</span><span> </span>
					</a>
				</div> <!-- /.team-block-one -->
			</div>

		</div>
	</div>
	<img src="images/shape/shape_42.svg" alt="" class="shapes shape-one">
</div> <!-- /.team-section-one -->
<%- include('common/footer', { pageTitle: pageTitle }) %>