<%- include('common/header', { pageTitle: pageTitle, activeUrl: activeUrl }) %>

	<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
	<div class="theme-inner-banner">
		<div class="container">
			<h2 class="intro-title text-center">Sectors We Serve !</h2>
			<ul class="page-breadcrumb style-none d-flex justify-content-center">
			</ul>
		</div>
	</div> <!-- /.theme-inner-banner -->



	<!--
			=====================================================
				Blog Section Three
			=====================================================
			-->
	<div class="blog-section-three pt-90 mb-150 lg-pt-40 lg-mb-100">
		<div class="container">
			<div class="row gx-xxl-5">
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_1.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html"></div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Healthcare</h6>
							</a>
							<p>AI and ML are being used for medical imaging analysis, disease diagnosis, personalized
								treatment planning, drug discovery, remote patient monitoring, and healthcare management
								systems</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="100">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_2.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html">UI/UX Design</a> - 10 minute read</div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Finance</h6>
							</a>
							<p>In the financial sector, AI and ML algorithms are used for fraud detection, risk
								assessment, algorithmic trading, credit scoring, customer segmentation, and personalized
								financial services.
							</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="200">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_3.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html">Marketing</a> - 8 minute read</div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Retail</h6>
							</a>
							<p>Retailers leverage AI and ML for demand forecasting, inventory management, pricing
								optimization, recommendation systems, customer segmentation, and personalized marketing
								campaigns.
							</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_4.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html"></div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Manufacturing</h6>
							</a>
							<p>AI and ML technologies are transforming manufacturing processes through predictive
								maintenance, quality control, supply chain optimization, production scheduling, and
								robotic automation.
							</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="100">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_5.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html">UI/UX Design</a> - 10 minute read</div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Transportation</h6>
							</a>
							<p>In transportation and logistics, AI and ML are used for route optimization, predictive
								maintenance of vehicles and infrastructure, demand forecasting, autonomous vehicles, and
								smart traffic management.
							</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="200">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_6.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html">Marketing</a> - 8 minute read</div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Telecommunications</h6>
							</a>
							<p>Telecommunication companies use AI and ML for network optimization, predictive
								maintenance of infrastructure, customer churn prediction, personalized marketing, and
								fraud detection.
							</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_7.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html"></div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Agriculture</h6>
							</a>
							<p>AI and ML technologies are applied in precision agriculture for crop monitoring, yield
								prediction, pest detection, soil analysis, irrigation optimization, and autonomous
								farming equipment.
							</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="100">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_8.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html">UI/UX Design</a> - 10 minute read</div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Marketing and Advertising</h6>
							</a>
							<p>AI and ML enable marketers to analyze customer behavior, personalize marketing campaigns,
								optimize advertising spending, conduct sentiment analysis, and predict customer churn.
							</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
				<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="200">
					<article class="blog-meta-one color-two tran3s mt-45">
						<figure class="post-img m0"><img
									src="images/blog/blog_img_9.jpg" alt="" class="w-100 tran4s"></a></figure>
						<div class="post-data">
							<!-- <div class="post-tag"><a href="blog-details.html">Marketing</a> - 8 minute read</div> -->
							<a href="blog-details.html" class="blog-title">
								<h6>Government and Public Services</h6>
							</a>
							<p>Governments use AI and ML for smart city initiatives, public safety and security,
								healthcare delivery, traffic management, fingerprint masking, public transportation
								optimization, and citizen engagement.
							</p>
						</div> <!-- /.post-data -->
					</article>
				</div>
			</div> <!-- /.row -->
			<!-- <div class="page-pagination-one pt-90">
				<ul class="d-flex align-items-center justify-content-center style-none">
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="arrow"><a href="#"><i class="bi bi-arrow-right"></i></a></li>
				</ul>
			</div> -->
		</div>
	</div> <!-- /.blog-section-three -->


	<%- include('common/footer', { pageTitle: pageTitle }) %>